body {
    font-family: 'Roboto', sans-serif;
    margin: 0;

   }
   h1 {
    font-size: 36px;
    margin: 0;
    color: #fc6;
   }
   h2 {
    margin-top: 0;
   }
   #header {
    //background: #0080c0;
    padding: 10px;
   }
   #sidebar {

    float: left;
    width: 14%;
    padding: 5px;
    margin: 10px 10px 20px 1%;
   }
   #content {

    margin: 10px 1% 10px 17%;
    padding: 5px;
   }
   #footer {
    background: #333;
    padding: 5px;
    color: #fff;
    clear: left;
   }