{% load static %}

<style>
     body{
     background-image: url( "{% static 'background.jpg' %}");
     }
</style>
<link rel="stylesheet" href="{% static 'css/login_register.css' %}" type="text/css" media="screen">

<form method="post" action="" class="ui-form">
    {% csrf_token %}
    <h3>Войти</h3>
    <div class="form-row">
        <input type="text" name="username" id="username" > <label for="username">Логин</label>
    </div>

    <div class="form-row">
        <input type="password" name="password" id="password" ><label for="password">Пароль</label>
    </div>

    <p><input type="submit" value="Войти"></p>
    <br>
    <p> Не зарегистрированы? <a href="{% url 'register_page' %}" >Регистрация</a>
    </p>
</form>

