{% load static %}
<style>
     body{
     background-image: url( "{% static 'background.png' %}");
     }
</style>
<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" media="screen">
<form method="post" action="" class="ui-form">
    {% csrf_token %}

     <h3>Регистрация</h3>
    <div class="form-row">
        <input type="text" name="username" id="username" > <label for="username">Логин</label>
    </div>

    <div class="form-row">
        <input type="text" name="email" id="email" > <label for="username">email</label>
    </div>

    <div class="form-row">
        <input type="password" name="password1" id="password1" > <label for="username">Пароль</label>
    </div>

    <div class="form-row">
        <input type="password" name="password2" id="password2" > <label for="username">Подтвердите пароль</label>
    </div>

    <input type="submit" name="Create User" value="Регистрация">

    <p> Уже зарегистрированы? <a href="{% url 'login_page' %}">Войти</a>
    </p>

     {{form.errors}}
</form>

