{% extends 'main/base.html'%}
{% load static %}

{% block title %} - {% endblock title %}

{% block content %}

<form method="post" action="">
    {% csrf_token %}

    {{form.username.label}}
    {{form.username}}

    <br>

    {{form.email.label}}
    {{form.email}}

    <br>
    {{form.password1.label}}
    {{form.password1}}

    <br>
    {{form.password2.label}}
    {{form.password2}}

    <br>
    <a href="{% url 'login_page' %}">login</a>

    {{form.errors}}

    <input type="submit" name="Create User">
</form>

{% endblock content %}